config.ini
*.db
archive*
error.txt
pipreqs.txt
*_database-text.txt
# chromedriver.exe
/images/final_react.png
/images/final_react.gif
/images/dl temp.png
/images/dl temp.gif

/cogs/tag.json
/cogs/kirklines.txt
/cogs/flags.json
/cogs/basedList.json

# /emojis/
/botinterface/

.vscode/
.history/
__pycache__

