config.ini
cogs/kirklines.txt
cogs/log.json
cogs/__pycache__
cogs/__pycache__/fun.cpython-39.pyc
cogs/__pycache__/cogmechanics.cpython-39.pyc
cogs/__pycache__/botstatus.cpython-39.pyc
cogs/__pycache__/admin.cpython-39.pyc
cogs/__pycache__/log.cpython-39.pyc
cogs/__pycache__/moderator.cpython-39.pyc
