config.ini
messages.txt
genAI_log.txt
jsonLogToMessages.txt
kirkai wordmodel_weights.hdf5
kirkai wordmodel_vocab.json
kirkai wordmodel_config.json
__pycache__

seriouslinks.txt
seriouschannel.txt
copypastachannel.txt
images/final_react.png
images/final_react.gif
images/dl temp.png
images/dl temp.gif
cogs/tag.json
cogs/kirklines.txt
cogs/log.json
cogs/bannedwords.txt
log*
error.txt
