# temp for 3.12  discord.py aiohttp version
aiohttp==3.9.0b0
ollama==0.1.8
aiosqlite==0.19.0
beautifulsoup4==4.12.2
discord.py==2.3.2
Django==4.2.6
Flask==3.0.0
GitPython==3.1.40
numpy==1.26.1
openai==0.28.1
Pillow==10.1.0
pypresence==4.3.0
python-mpv==1.0.4
requests==2.31.0
selenium==4.14.0
webdriver_manager==4.0.1
