beautifulsoup4==4.12.2
discord.py==2.2.3
Flask==2.1.2
GitPython==3.1.31
numpy==1.23.4
openai==0.18.1
Pillow==9.5.0
pypresence==4.2.1
python-mpv==1.0.3
requests==2.31.0
selenium==4.9.1
webdriver_manager==3.5.4
